{% extends 'theme.html' %}

{% block css %}

  <style>
    body{
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: mediumspringgreen;
  </style>

{% endblock %}


{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" method="POST">
                    <fieldset>
                      <div id="legend">
                        <legend class=''>Register</legend>
                      </div>
                      <div class="control-group">
                        <!-- Username -->
                        <label class="control-label"  for="username">Username</label>
                        <div class="controls">
                          <input type="text" id="username" name="username" placeholder="" class="input-xlarge"><br>
                          <small class="text-muted">Username can contain any letters or numbers, without spaces</small>
                        </div>
                      </div>
                   
                      <div class="control-group mt-2">
                        <!-- E-mail -->
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                          <input type="text" id="email" name="email" placeholder="" class="input-xlarge"><br>
                          <small class="text-muted">Please provide your E-mail</small>
                        </div>
                      </div>
                   
                      <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                          <input type="password" id="password" name="password" placeholder="" class="input-xlarge"><br>
                          <small class="text-muted">Password should be at least 4 characters</small>
                        </div>
                      </div>
                   
                      <div class="control-group">
                        <!-- Password -->
                        <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                        <div class="controls">
                          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"><br>
                          <small class="text-muted">Please confirm password</small>
                        </div>
                      </div>
                   <br>
                      <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                          <button class="btn btn-success">Register</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
